.wrapperCard{

   &__grid{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr; 
       grid-template-rows: 1fr 1fr; 
       gap: 35px 0px;
       padding: 0px 350px; 
       justify-items: center;
       img + *{
           margin-top: 40px;
       }
   }

   &__item{
        padding: 35px;
        max-width: 370px;
        max-height: 428px;
   }
}