@import '../../style/colors.scss';

.sliderWrapperReviews{

    // display: flex;
    // justify-content: space-evenly;

    &__item{
        box-sizing: border-box;
        border-radius: 10px;
        background: $white;
        box-shadow: 0px 0px 20px rgba($gray, 0.25);
        padding: 50px;
        max-width: 546px;
        max-height: 230px;
    }

    &__content{
        min-height: 120px;
    }

    &__info{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $gray;
    }
}

.number__arrows__rew{
    margin-top: 40px;
    margin-left: 1350px;
}
