@import '../../style/colors.scss';

.sliderWrapperReviews{

    display: flex;
    justify-content: space-evenly;

    &__item{
        padding: 50px;
        max-width: 546px;
        max-height: 230px;
    }

    &__info{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $grey;
    }
}

.number__arrows__rew{
    margin-top: 40px;
    margin-left: 1350px;
}