@import '../../style/colors.scss';

.productWrapper{

    position: relative;
    margin-left: 362px;

    &__img{
        border-radius: 20px;
        width: 690px;
        height: 464px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        position: absolute;
        padding: 60px;
        width: 578px;
        height: 328px;
        left: 600px;
        top: 70px;
    }

    &__slider{
        display: flex;
        margin-left: 650px;
    }

    li::before{
        color: $orange;
        content: "●";
        padding: 0px 15px;
    }

    li+li{
        margin-top: 10px; 
    }
}

// .number__arrows{

//     margin-left: 1000px;
// }

.number__arrow{
    width: 40px;
    height: 40px;
    color: #ff7236;
    border-radius: 50%;
    box-shadow: 0 2px 12px rgb(173 152 143 / 25%);
    background: #fff;
    margin-left: 0.625rem;
    cursor: pointer;
}

.dotSlide {
    display: flex;
    margin-left: 260px;


    div{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 30px 5px;
        cursor: pointer;
    }

    .active { background-color: orange; }
    .pasive { background-color: rgb(209, 209, 209); }
}

.WrapperSwitches{
    display: flex;
    align-items: center;
    .number__arrows{
        margin-left: 700px;
    }
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }