.wrapperFilter{
    
    p, input, span, label{
        margin-top: 13px;
    }

    p{
        font-weight: bold;
    }

    &__price{
        display: flex;
        justify-content: space-evenly;
    }

    &__button{
        display: flex;
        flex-direction: column;
        &>button{
           margin-top: 25px; 
        }
        
    }
    
}

